<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a routerLink="products" class="brand-logo hide-on-small-only">TreoLabsTest</a>
      <ul class="right">
        <li><a (click)="open()"><i class="material-icons white-text">shopping_cart</i></a></li>
        <li><a (click)="exit()">Exit</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row margin">
    <div class="row col s12 l4 m5 marginBottom">
      <form [formGroup]='form'>
        <div class="input-field col s4 marginBottom">
          <input placeholder="$ Min" type="number" formControlName="min" class="validate">
          <label for="min">Price</label>
        </div>
        <div class="input-field col s4 marginBottom">
          <input placeholder="$ Max" type="number" formControlName="max" class="validate">
        </div>
        <div class="col s4 margin">
          <button class="waves-effect waves-light btn wigth" (click)="minMaxFilter()">Go</button>
        </div>
      </form>
    </div>
    <div class="col s12 l4 offset-l4 m5 offset-m2 wigth">
      <label >Sort By</label>
      <button #dropdown class="dropdown-trigger btn-flat waves-effect waves-teal wigth" data-target="dropdown1">Featured<i class="material-icons right">arrow_drop_down</i></button>
      <ul id="dropdown1" class="dropdown-content">
        <li><a (click)="sortMinMax()">Price: Low to High</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a (click)="sortMaxMin()">Price: High to Low</a></li>
      </ul>
    </div>
  </div>
  <div class="s12 " [ngClass]="{'hide': !filter}">
    <button class="btn-flat" (click)="canselFilter()">Any Price</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let product of productsPage | paginate: { itemsPerPage: 6, currentPage: p }">
      <div class="card medium">
        <div (click)="addRevised(product)" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{product.image}}">
        </div>
        <div (click)="addRevised(product)" class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{product.title}}<i class="material-icons right">more_vert</i></span>
          <span>{{product.price | currency:USD}}</span>
        </div>
        <div class="card-action center">
          <button (click)="addToCart(product)" class="waves-effect waves-light btn"><i class="material-icons right">shopping_cart</i>Add to cart</button>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{product.title}}<i class="material-icons right">close</i></span>
          <p>{{product.description}}</p>
          <div class="card-action center">
            <button (click)="addToCart(product)" class="waves-effect waves-light btn"><i class="material-icons right">shopping_cart</i>Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div #modal class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="mb1">Your order</h4>
      <table class="highlight" *ngIf="productsState.length !== 0; else empty">
        <thead>
        <tr>
          <th>Title</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
  
        <tbody>
        <tr *ngFor="let item of productsState">
          <td>{{item.title}}</td>
          <td>
            <div class="minwith">
              <button
              class="waves-effect waves-black btn-flat"
              (click)="removeOne(item)"
              >-</button> 
              {{item.quantity}}
              <button
              class="waves-effect waves-black btn-flat"
              (click)="addOne(item)"
              >+</button> 
            </div>
        </td>
          <td>{{item.price | currency:USD}}</td>
          <td><i class="material-icons pointer" (click)="removeProduct(item)">delete</i></td>
        </tr>
        </tbody>
      </table>
      <ng-template #empty>
        <div class="center top">Your Shopping Cart is empty 
          <a routerlink (click)="cancel()">Start shopping now!</a>
        </div>
      </ng-template>
      <div class="order-summary" [ngClass]="{'hide': productsState.length === 0}">
        <p>Total Price <strong>{{price | currency:USD}}</strong></p>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="modal-action waves-effect waves-black btn-flat"
        (click)="cancel()"
      >Cancel</button>
      <button
        class="modal-action btn waves-effect"
        (click)="submit()"
      >Buy all</button>
    </div>
  </div>


  <div class="container">
    <h4><i class="material-icons orange-text">remove_red_eye</i>You viewed</h4>
      <div class="row">
        <div class="col s12 m4 l3" *ngFor="let vproduct of viewedProducts">
          <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{vproduct.image}}">
            </div>
            <div class="card-content">
              <span class="activator grey-text text-darken-4">{{vproduct.title}}<i class="material-icons right">more_vert</i></span>
              <span>{{vproduct.price | currency:USD}}</span>
            </div>
            <div class="card-action center">
              <button (click)="addToCart(vproduct)" class="waves-effect waves-light btn"><i class="material-icons right">shopping_cart</i>Add to cart</button>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{vproduct.title}}<i class="material-icons right">close</i></span>
              <p>{{vproduct.description}}</p>
              <div class="card-action center">
                <button (click)="addToCart(vproduct)" class="waves-effect waves-light btn"><i class="material-icons right">shopping_cart</i>Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>